body{
    background-color: white;
}

.div-class{
    position: relative;
    top: 5px;
    left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.head{
    position: relative;
    top: 5px;
    left: 900px;
    color:black;
}

.body{
    position: relative;
    top: 5px;
    left: 920px;
    color:black;
}

.container{ 
    font-size: 28px;
    width: 550px;
    height: 160px;
    border: 1px solid black;
    background-color:black;
    padding: 9px;
    position: relative;
    top: 200px;
    left: 500px;
    border-radius: 10px; 
    color:white;
}

.btn-click{
    font-size: 16px;
    position: relative;
    top: 80px;
    left: 210px;
    border-radius: 3px;
    padding: 7px;
}

